*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button { 
    border: none
}

input {
    border: none;
}



@import './colors';

body {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: $light-grey;
    background-color: $white;
}

.container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;

}


.header{
    background-color: $dark-blue;
  &__inner {
      display: flex;
      flex-direction: row;
  }
}

.logo {
    padding: 18px 190px 8px 8px;
    margin: 12px 0;
}

.menu {
    width: 100%;
    margin: 23px 0;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__item-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
    }

    &__call {
       padding: 8px 14px 0 14px;
       &-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: $blue;
       }
    }
}


.business {
    margin: 160px 0 166px 0;

    &__title {
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        color: $dark-blue;
    }

    &__subtitle {
        padding: 0 730px 0 380px;
        margin: 40px 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        color: gray;
    }

    &__btn { 
        margin: 0 730px 66px 380px;
        padding: 8px 24px;
        background: linear-gradient(45.24deg, #0F618A 0%, #5AC2F6 100%);
    }

    &__list {
       position: relative;
    }
}


.content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    &__item {
        margin: 64px 45px 0 0;
    }

}

.card { 
    max-width: 268px;
    padding: 0 0 0 10px;
    border-left: 2px solid $blue;
    &__id {
        margin-bottom: 20px;
        font-family: 'Roboto Mono', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $blue;
        
    }
    &__text { 
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        &:hover {
            color: $blue;
        }

    }
}

.title--ligth {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    color: $blue;
}

.btn { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $white;
    cursor: pointer;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px; 
    color: $black;
}

.white-title {
    color: $white;
}



.progect { 
    width: 100%;
    height: 100%;
    min-height: 1220px;
    &-bg {
    background-color: $dark-blue;
    max-height: 1020px;
    }
    &__inner {
        max-height: 1160px;
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    &__info {
        &-title {
            margin: 0 140px 40px 0;
            padding: 0 8px;
        }

        &-column {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }

        &-row { 
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
        &-list {
            margin: 0 0 35px 0;
        }

        &-item {
            margin-bottom: 5px;
        }

        &-link {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
            &:hover {
                color: $blue;
                opacity: 1;
            }
        }

        &-btn {
            padding: 10px 11px;
            margin: 22px 0 0 8px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            background-color: transparent;
            color: $blue;
            cursor: pointer;
        }
    }

}

.product {
    width: 515px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__card {
        padding: 0 40px 40px 40px;
        background-color: rgba(255, 255, 255, 0.05);

        &:hover {
            background-color: $brown;
        }
        &-img { 
            padding: 32px 30px 0 30px;
        }
        &-img img {
            width: 100%;
            height: 100%;
        }

        &-title {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $white;
        }

        &-subtitle {
            font-family: 'Inter',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
        }
    }
}

.card-first {
   height: 420px;
}

.card-second {
    height: 420px;
}

.card-three {
    height: 560px;
}

.card-four {
    height: 560px;
}


.solutions {
    margin: 160px 0 142px 0;
}

.solution {
   // margin-bottom: 90px;
   margin-bottom: 50px;
    &__title {
        padding: 0 10px;
        margin-bottom: 90px;

    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    &__item {
        width: 100%;
        height: 100%;
        margin: 0 10px;
        border-top: 1px solid rgba(2, 93, 138, 1);
        margin-bottom: 40px;

        &-inner {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
        }

        &-id {
            flex: 0 0 26%;
            //margin-right: 348px;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
        }

        &-title {
            flex: 1 0 10%;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $black;
        }

        &-subtitle {
            flex: 2 0 11%;
            //width: 603px;
            margin-right: 57px;
        }

        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $grey;
        }
    }
}


.partners {

    &__title {
        margin-right: 1045px;
        padding: 0 10px;
    }

    &__list {
        display: flex;
        //flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

    &__item {
        padding: 35px 55px;  

    }

    // &__item-img {
    //     width: 220px;
    //     height: 110px;
    //     background-image: url('../img/microsoft.png');
    //     display: block;
    // }

    &__item img {
        width: 100%;
        height: 100%;
    }

    &__btn {
        padding: 8px 18px;
        margin-right: 1260px;
        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
            background-color: transparent;
            cursor: pointer;
        }
    }
}


.banner { 
    min-height: 520px;
    padding: 140px 0 0 0;
    background-color: $dark-blue;
    background-image: url('../img/Nextleap.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    &__bg {
        background-color: $dark-blue;
    }

    &__description {
        display: flex;
        flex-direction: row;
    }

    &__title {
        margin: 0 40px 120px 0;
        padding: 0 8px;
        &-text {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: $white;
        }
    }

    &__subtitle {
        //width: 700px;
        flex: 0 0 53%;
        padding: 0 30px;
        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }

    }

    &-font {
        width: 100%;
        height: 100%;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 430px;
            line-height: 320px;
            color: rgba(255, 255, 255, 0.1);    
    }
}


.row:nth-child(odd) {
    display: flex;
    justify-content: center;
}
.row:nth-child(even) {
    display: flex;
    justify-content: end;
}

.about {
    padding: 162px 0 58px 0;

    &-us {
        display: flex;
        flex-direction: row;
        //margin-bottom: 160px;
        margin-bottom: 50px;
        &__description {
            flex: 0 0 23%;
            height: 230px;
            margin: 0 40px 390px 0;
            padding: 0 10px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin: 0 0 40px 0;
            &-text {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: $light-grey;
            }
        }

        &__btn {
            padding: 11px 10px;
            //margin: 0 188px 0 0;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
            background-color: transparent;
        }

        &__list {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            row-gap: 40px;
        }

        &__item {
            width: 100%;
            height: 180px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }


        &__company {
            //width: 100%;
            min-width: 330px;
            padding: 30px 20px;
            margin: 30px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    &-work {
        &__title {
            margin-bottom: 100px;
            padding: 0 10px;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            width: 420px;
            display: flex;
            margin-bottom: 40px;
           
        }
        // &__item:nth-child(odd) {
        //     display: flex;
        //     justify-content: center;
        // }

        // &__item:nth-child(even) {
        //     display: flex;
        //     justify-content: end;
        // }

        &-desc {
            display: flex;
            flex-direction: column;
        }

        &__id {
            margin: 0 40px 0 0;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            color: $blue;
        }

        &__text {
            padding: 0 36px 0 0;
            margin-bottom: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $dark-blue;
        }

        &__subtitle {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #537688;
        }
    }

    &-content {
        width: 100%;
        max-width: 1070px;
    }
}


.fedback {
    background-color: $dark-blue;
    padding: 140px 0 151px 0;

    &-area {
        display: flex;
        flex-direction: row;
        margin-right: 370px;
        &__description {
            flex: 0 0 30%;
            margin-right: 40px;
            padding: 0 8px;
        }
        &__description h4 {
            margin-bottom: 20px;
        }

        &__subtitle {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }
        &__link {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $blue;
        }
    }

    &-form {
        &__title {
            margin-bottom: 40px;
        }
        &__text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }

        &__list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }

        &__bottom {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__subtitle {
            flex: 0 0 45%;
            margin-right: 40px;
        }

        &__text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $white;
        }

        &__btn {
            width: 330px;
            height: 48px;
            padding: 8px 24px;
            margin-bottom: 12px;
            background-color: $blue;
            cursor: pointer;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            color:  $white;
        }

        &__link {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $blue;
        }
    }

}

.input {
    width: 330px;
    height: 54px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
}

.textarea {
    width: 100%;
    height: 90px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $grey;

}


.question {
    padding: 160px 0;

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 160px;
        &__title {
            flex: 0 0 23%;
            margin-right: 40px;
        }
    }

    &-list {
        flex: 0 0 70%;
    }
 

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 40px;
        border-top: 1px solid rgba(2, 93, 138, 1);
        &-id {
            flex: 0 0 25%;
           // margin-right: 282px;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $blue;
        }


        &-subtitle {
            margin-right: 40px;
            flex: 0 0 62%;
        }

        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: $dark-blue;
        }

        &-btn {
            background-color: transparent;
        }
    }


    &-carousel {
        display: flex;
        flex-direction: row;

        &__description {
            flex: 0 0 15%;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__btn {
            padding: 11px 10px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
            background-color: transparent;
        }

        &__list {
            width: 100%;
            height: 100%;
            //height: 420px;
            //position: relative;
            display: flex;
            flex-direction: row;
        }
    }


}

.carousel {
    &-scroll {
        display: flex;
        overflow-x: scroll;
        height: 100%;
    }
    &-wrapper {
            //width: 100%;
            margin: 20px 0;
            //height: 100%;
        
            // display: flex;
            // overflow-x: auto;
            // position: relative;
            // display: flex;
            // flex-direction: row;
    }


    &-list {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__item {
            width: 330px;
            height: 100%;
            padding: 38px;
            margin: 0 20px;
            border: 1px solid rgba(2, 93, 138, 0.4);
            &:hover {
                padding: 38px;
                border: 1px solid transparent;
                background: $white;
                box-shadow: 0px 56px 102px rgba(15, 64, 88, 0.07), 
                            0px 23.3955px 42.6132px rgba(15, 64, 88, 0.0523031), 
                            0px 12.5083px 22.783px rgba(15, 64, 88, 0.0466275), 
                            0px 7.01207px 12.772px rgba(15, 64, 88, 0.0419149), 
                            0px 3.72406px 6.7831px rgba(15, 64, 88, 0.0354628), 
                            0px 1.54966px 2.8226px rgba(15, 64, 88, 0.0242675);

            }
            &-date {
                margin-bottom: 20px;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $grey;
            }

            &-title {
                margin-bottom: 20px;
                &__text {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    color:  $black;
                }
            }

            &-line {
                width: 100%;
                height: 2px;
                background-color: $blue;
                margin-bottom: 20px;
            }

            &-subtitle {
                margin-bottom: 38px;
                &__text {
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color:  $grey;
                }
            }
    }

    &-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    }


    &__option {
        display: flex;
        margin-right: 20px;
        &-btn {
            width: 60px;
            height: 60px;
            padding: 14px;
            background-color: $white;
            border: 1px solid $blue; 
            color: $blue;

            &__icon-left {
                content: url('../img/btn-icon.svg');
                position: relative;
                color: $blue;
            }

            &__icon-right {
                content: url('../img/btn-icon.svg');
                position: relative;
                transform: rotate(180deg);
                color: $blue;
            }
        }

        &-btn:nth-child(odd) {
            margin: 300px 0 60px 0;
        }

        &-btn:nth-child(even) {
            margin: 360px 0 0 0;
        }

        
        &-btn:hover  {      
             background-color: $blue;
             color: $white;

        }

   }
}


.footer {
    background-color: $dark-blue;
    padding: 80px 0 0 0;

    &__inner {
        display: flex;
        flex-flow: row wrap;
    }

    &-logo {
        margin-bottom: 60px;
    }

    &-fedback {
        flex: 0 0 25%;
        margin: 0 200px 82px 0;
        &__item {

            &-tell {
                margin-bottom: 20px;
            }

            &-email {
                margin-bottom: 20px;
            }

            &-adress {
                margin-bottom: 40px;
            }

            &__tell,
            &__email,
            &__adress {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                color: $white;
            }

            &-tell,
            &-email,
            &-adress{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
            }
            &-tell img,
            &-email img,
            &-adress img{
               margin: 4px 10px 4px 0;
            }
        }


        &__social {
            display: flex;
            flex-direction: row;
            &-item {
                width: 40px;
                height: 40px;
                padding: 10px;
                margin-right: 20px;
                border-radius: 50%;
                border: 1px solid $light-blue;
                text-align: center;
            }
        }
    }


    &-about {
        flex: 1 0 60%;
        &__list {
            display: flex;
            flex-direction: row;
        }

        &__services {
            margin: 0 80px 82px 0;
            &-title {
                margin-bottom: 20px;
            }
            &__text {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: $white;
            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &__item {
                margin-bottom: 10px;  
            }

            &__link {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 100;
                font-size: 16px;
                line-height: 24px;
                color: $white;
            }
        }
    }

    &-info {
        width: 100%;
        padding: 21px 0;
        border-top: 1px solid rgba(255, 255, 255, 1);
        display: flex;
        align-items: flex-start;
        &__link,
        &__police {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: $white;
            opacity: 0.65;
        }

        &__link {
            margin-right: 60px;
        }

        &__police {
            margin-right: 193px;
        }

        &__title {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;           
            color: $grey;
            
        }
    }
}