*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button { 
    border: none
}

input {
    border: none;
}



@import './colors';

body {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: $light-grey;
    background-color: $white;
}

.container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;

}


.header{
    background-color: $dark-blue;
  &__inner {
      display: flex;
      flex-direction: row;
  }
}

.logo {
    padding: 18px 190px 8px 8px;
    margin: 12px 0;
}

.menu {
    width: 100%;
    margin: 23px 0;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__item-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
    }

    &__call {
       padding: 8px 14px 0 14px;
       &-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: $blue;
       }
    }
}


.beznes {
    margin: 160px 0 166px 0;

    &__title {
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        color: $dark-blue;
    }

    &__subtitle {
        padding: 0 730px 0 380px;
        margin: 40px 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        color: gray;
    }

    &__btn { 
        margin: 0 730px 66px 380px;
        padding: 8px 24px;
        background: linear-gradient(45.24deg, #0F618A 0%, #5AC2F6 100%);
    }

    &__list {
       position: relative;
    }
}


.content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    &__item {
        margin: 64px 45px 0 0;
    }

}

.card { 
    max-width: 268px;
    padding: 0 0 0 10px;
    border-left: 2px solid $blue;
    &__id {
        margin-bottom: 20px;
        font-family: 'Roboto Mono', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $blue;
        
    }
    &__text { 
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        &:hover {
            color: $blue;
        }

    }
}

.title--ligth {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    color: $blue;
}

.btn { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $white;
    cursor: pointer;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px; 
    color: $black;
}

.white-title {
    color: $white;
}



.progect { 
    width: 100%;
    height: 100%;
    min-height: 1220px;
    &-bg {
    background-color: $dark-blue;
    max-height: 1020px;
    }
    &__inner {
        max-height: 1160px;
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    &__info {
        &-title {
            margin: 0 140px 40px 0;
            padding: 0 8px;
        }

        &-column {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }

        &-row { 
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
        &-list {
            margin: 0 0 35px 0;
        }

        &-item {
            margin-bottom: 5px;
        }

        &-link {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
            &:hover {
                color: $blue;
                opacity: 1;
            }
        }

        &-btn {
            padding: 10px 11px;
            margin: 22px 0 0 8px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            background-color: transparent;
            color: $blue;
            cursor: pointer;
        }
    }

}

.product {
    width: 515px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__card {
        padding: 0 40px 40px 40px;
        background-color: rgba(255, 255, 255, 0.05);

        &:hover {
            background-color: $brown;
        }
        &-img { 
            padding: 32px 30px 0 30px;
        }
        &-img img {
            width: 100%;
            height: 100%;
        }

        &-title {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $white;
        }

        &-subtitle {
            font-family: 'Inter',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
        }
    }
}

.card-first {
   height: 420px;
}

.card-second {
    height: 420px;
}

.card-three {
    height: 560px;
}

.card-four {
    height: 560px;
}


.solutions {
    margin: 160px 0 140px 0;
}

.solution {
    margin-bottom: 90px;
    &__title {
        margin: 0 0 90px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    &__item {
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(2, 93, 138, 1);
        margin-bottom: 40px;

        &-inner {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
        }

        &-id {
            margin-right: 348px;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
        }

        &-title {
            flex: 1 0 10%;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $black;
        }

        &-subtitle {
            width: 603px;
            margin-right: 57px;
        }

        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $grey;
        }
    }
}


.partners {

    &__title {
        margin: 0 1045px 0 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

    &__item {
        padding: 35px 55px;  

    }

    // &__item-img {
    //     width: 220px;
    //     height: 110px;
    //     background-image: url('../img/microsoft.png');
    //     display: block;
    // }

    &__item img {
        width: 100%;
        height: 100%;
    }

    &__btn {
        padding: 11px 10px;
        margin: 0 1298px 0 0;
        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
            background-color: transparent;
            cursor: pointer;
        }
    }
}


.banner { 
    max-height: 520px;
    padding: 140px 0 0 0;
    background-color: $dark-blue;
    &__bg {
        background-color: $dark-blue;
    }

    &__description {
        display: flex;
        flex-direction: row;
    }

    &__title {
        margin: 0 40px 120px 0;
        &-text {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: $white;
        }
    }

    &__subtitle {
        width: 700px;
        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }

    }

    &-font {
        width: 100%;
        height: 100%;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 430px;
            line-height: 320px;
            color: rgba(255, 255, 255, 0.1);    
    }
}


.about {
    padding: 160px 0;

    &-us {
        display: flex;
        flex-direction: row;
        margin-bottom: 160px;
        &__description {
            flex: 0 0 23%;
            height: 230px;
            margin: 0 40px 390px 0;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin: 0 0 40px 0;
            &-text {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: $light-grey;
            }
        }

        &__btn {
            padding: 11px 10px;
            margin: 0 188px 0 0;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $blue;
            background-color: transparent;
        }

        &__item {
            width: 100%;
            height: 180px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }


        &__company {
            width: 330px;
            padding: 30px 50px;
            margin-right: 40px;
            text-align: center;
        }
    }


    &-work {
        &__title {
            margin-bottom: 100px;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__item {
            width: 420px;
            display: flex;
            margin-bottom: 40px;
           
        }

        &__item:nth-child(even) {
            margin-left: 370px;
        }

        &-desc {
            display: flex;
            flex-direction: column;
        }

        &__id {
            margin: 0 40px 0 0;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            color: $blue;
        }

        &__text {
            padding: 0 36px 0 0;
            margin-bottom: 20px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $dark-blue;
        }

        &__subtitle {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #537688;
        }
    }

    &-content {
        width: 100%;
        max-width: 860px;
        padding: 0 10px;
        margin: 0 auto;
    }
}


.fedback {
    background-color: $dark-blue;
    padding: 140px 0 148px 0;

    &-area {
        display: flex;
        flex-direction: row;
        margin-right: 370px;
        &__description {
            flex: 0 0 30%;
            margin-right: 40px;
        }
        &__description h4 {
            margin-bottom: 20px;
        }

        &__subtitle {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }
        &__link {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $blue;
        }
    }

    &-form {
        &__title {
            margin-bottom: 40px;
        }
        &__text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $white;
        }

        &__list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }

        &__bottom {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__subtitle {
            flex: 0 0 45%;
            margin-right: 40px;
        }

        &__text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $white;
        }

        &__btn {
            width: 330px;
            height: 48px;
            padding: 8px 24px;
            margin-bottom: 12px;
            background-color: $blue;
            cursor: pointer;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            color:  $white;
        }

        &__link {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $blue;
        }
    }

}

.input {
    width: 330px;
    height: 54px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
}

.textarea {
    width: 100%;
    height: 90px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $grey;

}


.question {
    padding: 160px 0;

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__title {
            flex: 0 0 23%;
            margin-right: 40px;
        }
    }

    &-list {
        flex: 0 0 70%;
    }
 

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 40px;
        border-top: 1px solid rgba(2, 93, 138, 1);
        &-id {
            margin-right: 282px;
            font-family: 'Roboto Mono', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: $blue;
        }


        &-subtitle {
            margin-right: 40px;
            flex: 0 0 62%;
        }

        &-text {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: $dark-blue;
        }

        &-btn {
            background-color: transparent;
        }
    }


}