*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button { 
    border: none
}



@import './colors';

body {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: $light-grey;
    background-color: $white;
}

.container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;

}


.header{
    background-color: $dark-blue;
  &__inner {
      display: flex;
      flex-direction: row;
  }
}

.logo {
    padding: 18px 190px 8px 8px;
    margin: 12px 0;
}

.menu {
    width: 100%;
    margin: 23px 0;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__item-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
    }

    &__call {
       padding: 8px 14px 0 14px;
       &-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        color: $blue;
       }
    }
}


.beznes {
    margin: 160px 0 166px 0;

    &__title {
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        color: $dark-blue;
    }

    &__subtitle {
        padding: 0 730px 0 380px;
        margin: 40px 0;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        color: gray;
    }

    &__btn { 
        margin: 0 730px 66px 380px;
        padding: 8px 24px;
        background: linear-gradient(45.24deg, #0F618A 0%, #5AC2F6 100%);
    }

    &__list {
       position: relative;
    }
}


.content { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    &__item {
        margin: 64px 45px 0 0;
    }

}

.card { 
    max-width: 268px;
    padding: 0 0 0 10px;
    border-left: 2px solid $blue;
    &__id {
        margin-bottom: 20px;
        font-family: 'Roboto Mono', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $blue;
        
    }
    &__text { 
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        &:hover {
            color: $blue;
        }

    }
}

.title--ligth {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 86px;
    color: $blue;
}

.btn { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $white;
    cursor: pointer;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px; 
    color: $black;
}

.white-title {
    color: $white;
}



.progect { 
    background-color: $dark-blue;
    max-height: 1020px;
    &__inner {
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    &__info {
        &-title {
            margin: 0 140px 40px 0;
            padding: 0 8px;
        }

        &-column {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }

        &-row { 
            display: flex;
            flex-direction: row;
            gap: 25px;
        }
        &-list {
            margin: 0 0 35px 0;
        }

        &-item {
            margin-bottom: 5px;
        }

        &-link {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
            &:hover {
                color: $blue;
                opacity: 1;
            }
        }

        &-btn {
            padding: 10px 11px;
            margin: 22px 0 0 8px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            background-color: transparent;
            color: $blue;
            cursor: pointer;
        }
    }

}

.product {
    display: grid;
    grid-auto-columns:  515px;
    grid-template-rows: 420px;
    gap: 40px;
    &__card {
        padding: 0 40px 40px 40px;
        background-color: rgba(255, 255, 255, 0.05);
        &-img { 
            padding: 32px 30px 0 30px;
        }

        &-title {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $white;
        }

        &-subtitle {
            font-family: 'Inter',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            opacity: 0.6;
        }
    }
}

.card-first {
    grid-column: 1 / 2;
    grid-row: 1;
}

.card-second {
    grid-column: 1 / 2;
    grid-row: 2;
}

.card-three {
    height: 560px;
    grid-column: 2 / 2;
    grid-row: 2;
}

.card-four {
    height: 560px;
    grid-column: 2 / 2;
    grid-row: 1;
}